body {
  position:absolute;
  background-color: white;
  padding: 1em 1em 2em 1em;
  color: #10222B;
  clear: both;
  width: 840pt;
}

div {
  position:relative;
}

a {
  text-decoration: none;
  color: #10222B;
}

a:hover {
  border-bottom: 1px dotted #000;
  color: #10222B;
}

p {
  color: #516A78;
}

.column p a, .column ul li a {
  font-weight: bold;
}

.header {
  margin-bottom: 2em;
}

  .column {
    float: left;
    padding: 0 1em 1em;
    border-left: 1px solid #9E9E9E;
    width: 180pt;
    margin-right: 1.25em;
  }

  .column.last {
    width: 360pt;
    margin-right: 0;
  }

    .column h2:first-child {
      margin-bottom: 0.25em;
    }

    .column ul {
      list-style:none;
    }

    .column ul li {
      margin: 0.5em 0;
    }

.item {
  margin-bottom: 1em;
}

pre {
  margin: 1em;
  padding: 1em;
  border: 1px solid rgb(220, 220, 220);
  background-color: rgb(240, 240, 240);

  -moz-border-radius: 5px;
  border-radius: 5px;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*** Fonts ***/
body {
  font-family: Georgia, serif;
}

body h1:first-child {
  margin-top: 0;
}

h1 {
  font-size: 3.25em;
  margin: 0.65em 0 0.33em 0;
}
h2 {
  font-size: 2.75em;
  margin: 0.55em 0 0.26em 0;
}
h3 {
  font-size: 1.8em;
  margin: 0.36em 0 0.18em 0;
}
h4 {
  font-size: 1.55em;
  margin: 0.31em 0 0.16em 0;
}
h5 {
  font-size: 1.4em;
  margin: 0.28em 0 0.14em 0;
}
p {
  font-size: 1em;
  margin: 0.2em 0 0.1em 0;
}

