---
layout: default
title: Recent Posts
---
<script type="text/javascript">
  window.data = {};
  window.data['blog'] = [
    {% for post in site.posts %}
    '{{ post.date }}',
    {% endfor %}
  ];
  window.data['twitter'] = [
    '2011-05-28 00:00:00 +0000',
    '2011-08-26 00:00:00 +0000',
    '2012-01-28 00:00:00 +0000',
    '2012-02-26 00:00:00 +0000',
    '2012-03-28 00:00:00 +0000',
    '2012-04-23 00:00:00 +0000'
  ];
  window.data['code'] = [
    '2011-04-28 00:00:00 +0000',
    '2011-06-26 00:00:00 +0000',
    '2011-08-28 00:00:00 +0000',
    '2011-12-26 00:00:00 +0000',
    '2012-02-28 00:00:00 +0000',
    '2012-03-01 00:00:00 +0000',
    '2012-04-23 00:00:00 +0000'
  ];
</script>
<section id="graphic"></section>
<script src="/javascripts/graphic.js" type="text/javascript"></script>

<!--
<h2>Recent Posts</h2>

<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
-->
