body {
  background-color: #F6FFE0;
  color: #516A78;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #10222B;
}

a:hover {
  border-bottom: 1px dotted #000;
}


.column {
  border-left: 1px solid #BBB;
}
  .column .content {
    padding: 0 1em;
  }

    .column .content ul {
      list-style:none;
    }

    .column .content ul li {
      margin: 0.5em 0;
    }

      .column .content ul li a {
      }

      .column .content ul li a:hover {
      }

  .container_12 .alpha {
    border-right: 0px;
  }

.item {
}

.item h3 {
  margin-bottom: 0;
}

.item p {
  margin-top: 0;
}
