a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  padding-left: 1px;
}

a:hover {
  border-left: 1px dotted #000;
  padding-left: 0px;
}

.navigation ul {
  list-style:none;
  padding: 0 1em;
  border-right: 4px solid #BBB;
}

  .navigation ul li {
    margin-top: 1em;
    margin-bottom: 1em;
  }

    .navigation ul li a {
      padding-left: 5px;
    }

    .navigation ul li a:hover {
      padding-left: 4px;
    }
