<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/grid.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />
  </head>
  <body>
    <div class="container_12">
      <div class="header grid_12 alpha omega">
        <h1>{{ page.title }}</h1> 
      </div>
      <div class="clear">&nbsp;</div>
      <div class="column grid_3 alpha">
        <div class="content">
          <h2>About</h2>
          <p>I'm a London based programmer.</p>
        </div>
      </div>
      <div class="column grid_3">
        <div class="content">
          <h2>Projects</h2>
          <div class="item">
            <h3>Project 1</h3>
            <p>
              Experiment with spherical mobile robotics
            </p>
          </div>
          <div class="item">
            <h3>Project 1</h3>
            <p>
              Experiment with spherical mobile robotics
            </p>
          </div>
          <div class="item">
            <h3>Project 1</h3>
            <p>
              Experiment with spherical mobile robotics
            </p>
          </div>
          <div class="item">
            <h3>Project 1</h3>
            <p>
              Experiment with spherical mobile robotics
            </p>
          </div>
        </div>
      </div>
      <div class="column grid_6 omega">
        <div class="content">
          <h2>Blog</h2>
          <ul>
            <li><a href="post_1">Link 1</a> - Jan 31, 2010</li>
            <li><a href="post_1">Link 1</a> - Jan 31, 2010</li>
            <li><a href="post_1">Link 1</a> - Jan 31, 2010</li>
            <li><a href="post_1">Link 1</a> - Jan 31, 2010</li>
            <li><a href="post_1">Link 1</a> - Jan 31, 2010</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
