<!DOCTYPE html>
<html>
  <head>
    <title>paulbellamy.com - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">  
    <link rel="stylesheet" href="/css/blueprint/src/reset.css" type="text/css" media="screen, projection, print">  
    <link rel="stylesheet" href="/css/blueprint/src/grid.css" type="text/css" media="screen, projection, print">  
    <link rel="stylesheet" href="/css/blueprint/src/typography.css" type="text/css" media="screen, projection, print">  
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="/css/default.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="header span-24 last">
        <a href="http://www.paulbellamy.com"><h1>paulbellamy.com</h1></a>
      </div>
      <div class="column span-12">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
