<!DOCTYPE html>
<html>
  <head>
    <title>paulbellamy.com - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">  
    <link rel="stylesheet" href="/css/blueprint/src/reset.css" type="text/css" media="screen, projection, print">  
    <link rel="stylesheet" href="/css/blueprint/src/grid.css" type="text/css" media="screen, projection, print">  
    <link rel="stylesheet" href="/css/blueprint/src/typography.css" type="text/css" media="screen, projection, print">  
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="/css/default.css" type="text/css" />

    <!-- RSS / ATOM autodiscovery -->
    <link rel="alternate" type="application/atom+xml" title="ATOM" href="http://paulbellamy.com/atom.xml">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://paulbellamy.com/rss.xml">

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13250761-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  </head>
  <body>
    <div class="container">
      <div class="header span-24 last">
        <a href="http://www.paulbellamy.com"><h1>paulbellamy.com</h1></a>
      </div>
      <div class="column span-12">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var _sf_async_config={uid:22314,domain:"paulbellamy.com"};
      (function(){
       function loadChartbeat() {
       window._sf_endpt=(new Date()).getTime();
       var e = document.createElement('script');
       e.setAttribute('language', 'javascript');
       e.setAttribute('type', 'text/javascript');
       e.setAttribute('src',
         (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
         "js/chartbeat.js");
       document.body.appendChild(e);
       }
       var oldonload = window.onload;
       window.onload = (typeof window.onload != 'function') ?
       loadChartbeat : function() { oldonload(); loadChartbeat(); };
       })();
    </script>
  </body>
</html>
